header {
  background-color: #096ee3;
  height: 100px;
  color: white;
  font-weight: bold;
  line-height: 100px;
}

.body {
  background-color: white;
}

header span {
  margin-left: 21px;
  font-size: 44px;
}

.car {
  float: right;
  margin-right: 5%;
  position: relative;
}

.divright {
  position: absolute;
  color: white;
  font-size: 17px;
  background-color: red;
  width: 23px;
  height: 23px;
  line-height: 23px;
  top: 24px;
  left: 5px;
  text-align: center;
  -webkit-border-radius: 24px;
  border-radius: 24px;
}
