img {
  height: 200px;
}

.price {
  margin-top: 10px;
}

button {
  background-color: #096ee3;
  padding: 5px;
  color: white;
  border: 0;
}

button:hover {
  background-color: #40a9ff;
}

.button {
  float: right;
}